// Tabs Services
.tabs-service {
	// .tabs-service__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
		@media (max-width: $mobile) {
			row-gap: toRem(20);
			flex-direction: column;
		}
	}
	// .tabs-service__navigation
	&__navigation {
		display: flex;
		gap: toRem(5);
		padding: toRem(5);
		position: relative;
		align-items: center;
		border-radius: toRem(30);
		background-color: #edeef0;
		&::before {
			top: 4px;
			content: "";
			position: absolute;
			bottom: 0;
			left: var(--indicator-left, 0);
			width: var(--indicator-width, 0);
			height: toRem(47);
			border-radius: toRem(30);
			background: $gradientGreen;
			transition:
				transform 0.3s ease,
				width 0.3s ease,
				left 0.3s ease;
			@media (max-width: $mobile) {
				height: toRem(37);
			}
			@media (max-width: $mobileSmall) {
				height: toRem(30);
			}
		}
	}
	// .tabs-service__subtitle
	&__subtitle {
		color: #000;
		display: flex;
		cursor: pointer;
		height: toRem(45);
		align-items: center;
		font-size: toRem(16);
		transition: color 0.5s;
		justify-content: center;
		border-radius: toRem(30);
		padding: toRem(0) toRem(25);
		span {
			position: relative;
		}
		&._tab-active {
			z-index: 1;
			color: #fff;
			position: relative;
			&::before {
				transform: scaleX(1);
				width: 100%;
			}
		}
		&:not(._tab-active)::before {
			transform: scaleX(0);
		}
		@media (max-width: $mobile) {
			height: toRem(35);
			font-size: toRem(14);
			padding: toRem(0) toRem(12);
		}
		@media (max-width: $mobileSmall) {
			height: toRem(28);
			font-size: toRem(10);
		}
	}
}
.body-tabs-service {
	// .body-tabs-service__articles
	&__articles {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	// .body-tabs-service__title
	&__title {
		font-weight: 700;
		text-align: center;
		font-size: toRem(19);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (min-width: $mobile) {
			display: none;
		}
	}
	// .body-tabs-service__columns
	&__columns {
		display: flex;
		column-gap: toRem(25);
		justify-content: space-between;
		@media (max-width: $mobile) {
			row-gap: toRem(10);
			flex-direction: column;
		}
	}
}
// Tabs About
.tabs-about {
	::-webkit-scrollbar {
		width: toRem(3);
		position: absolute;
		background-color: rgba(#fff, 0.3);
	}
	::-webkit-scrollbar-thumb {
		border-radius: toRem(10);
		background-color: rgba(#fff, 0.5);
	}
	// .tabs-about__content
	&__content {
		height: 320px;
		display: flex;
		overflow-y: auto;
		flex-direction: column;
		padding-right: toRem(10);
		margin-right: toRem(-10);
	}
	// .tabs-about__body
	&__body {
		font-weight: 700;
		line-height: 135%;
		@include adaptiveValue("font-size", 18, 14);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
		@media (min-width: $mobileSmall) {
			padding-bottom: toRem(15);
		}
	}
	// .tabs-about__navigation
	&__navigation {
		top: 0;
		z-index: 10;
		display: flex;
		gap: toRem(5);
		padding: toRem(5);
		overflow: hidden;
		position: sticky;
		margin-top: toRem(15);
		background-color: #fff;
		@include adaptiveValue("border-radius", 30, 12);
		@media (max-width: toEm(1034)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .tabs-about__title
	&__title {
		width: 100%;
		color: #000;
		white-space: nowrap;
		min-height: toRem(50);
		padding: toRem(0) toRem(20);
		transition:
			background-color 0.4s,
			color 0.4s;
		@include adaptiveValue("font-size", 16, 14);
		@include adaptiveValue("border-radius", 30, 12);
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(#efefef, 0.3);
			}
		}
		&._tab-active {
			color: $mainColor;
			background-color: #efefef;
			box-shadow:
				rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
				rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
				rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
				rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
				rgba(14, 63, 126, 0.04) 0px 12px 12px -6px;
		}
	}
}
// Tabs Master
.tabs-master {
	overflow: hidden;
	// .tabs-master__inner
	&__inner {
		overflow-x: auto;
		padding-bottom: toRem(25);
		border-radius: toRem(10) toRem(10) toRem(0) toRem(0);
		&::-webkit-scrollbar {
			height: toRem(3);
			background-color: $bgColor;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: toRem(10);
			background-color: $mainColor;
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(784.98)) {
			padding-bottom: toRem(15);
			&:not(:last-child) {
				margin-bottom: toRem(25);
			}
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}
	// .tabs-master__navigation
	&__navigation {
		gap: toRem(5);
		padding: toRem(5);
		position: relative;
		align-items: center;
		display: inline-flex;
		border-radius: toRem(50);
		background-color: #efefef;
		&::before {
			top: 4px;
			content: "";
			position: absolute;
			bottom: 0;
			left: var(--indicator-left, 0);
			width: var(--indicator-width, 0);
			height: toRem(67);
			background-color: #fff;
			border-radius: toRem(50);
			transition:
				transform 0.3s ease,
				width 0.3s ease,
				left 0.3s ease;
		}
		/* 		@media (max-width: toEm(844.98)) {
			&::before {
				height: toRem(57);
			}
		} */
		@media (min-width: toEm(784.98)) {
			width: 100%;
		}
		@media (max-width: toEm(784.98)) {
			&::before {
				height: toRem(57);
			}
		}
	}
	// .tabs-master__title
	&__title {
		color: #000;
		display: flex;
		cursor: pointer;
		height: toRem(65);
		line-height: 120%;
		white-space: nowrap;
		align-items: center;
		transition: color 0.5s;
		justify-content: center;
		border-radius: toRem(50);
		padding: toRem(0) toRem(15);
		@include adaptiveValue("font-size", 25, 16);
		span {
			position: relative;
		}
		&._tab-active {
			z-index: 1;
			font-weight: 700;
			color: $greenColor;
			position: relative;
			transition: color 0.5s;
			&::before {
				width: 100%;
				transform: scaleX(1);
			}
		}
		&:not(._tab-active)::before {
			transform: scaleX(0);
		}
		@media (min-width: toEm(784.98)) {
			width: 100%;
		}
		@media (max-width: toEm(784.98)) {
			font-weight: 700;
			height: toRem(55);
		}
		/* 		@media (max-width: $tablet) {
			font-weight: 700;
		}
		@media (max-width: toEm(844.98)) {
			height: toRem(55);
		} */
	}
	// .tabs-master__item
	&__item {
		color: #000;
		display: flex;
		gap: toRem(12);
		font-weight: 700;
		line-height: 120%;
		text-align: justify;
		@include adaptiveValue("font-size", 20, 14);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
		// .tabs-master__item--icon
		&--icon {
			&::before {
				content: "";
				display: flex;
				height: toRem(25);
				align-items: center;
				margin-top: toRem(3);
				min-width: toRem(25);
				background: url("@img/icons/check.svg") 0 0 no-repeat;
			}
		}
		// .tabs-master__item--noicon
		&--noicon {
			&::before {
				content: "";
				display: flex;
				height: toRem(25);
				align-items: center;
				min-width: toRem(25);
			}
		}
	}
}
