// Tabs Services
.tabs-service {
	// .tabs-service__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
		@media (max-width: $mobile) {
			row-gap: toRem(20);
			flex-direction: column;
		}
	}
	// .tabs-service__navigation
	&__navigation {
		display: flex;
		gap: toRem(5);
		padding: toRem(5);
		align-items: center;
		border-radius: toRem(30);
		background-color: #edeef0;
	}
	// .tabs-service__subtitle
	&__subtitle {
		color: #000;
		display: flex;
		overflow: hidden;
		height: toRem(45);
		position: relative;
		align-items: center;
		font-size: toRem(16);
		justify-content: center;
		border-radius: toRem(30);
		padding: toRem(0) toRem(25);
		transition:
			background-color 0.5s,
			color 0.3s;
		span {
			position: relative;
		}
		&::before {
			top: 0;
			left: 0;
			opacity: 0;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			transition: opacity 0.5s;
			border-radius: toRem(30);
			background: $gradientGreen;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #d6d8dd;
			}
		}
		&._tab-active {
			color: #fff;
			&::before {
				opacity: 1;
			}
		}
		@media (max-width: $mobile) {
			height: toRem(35);
			font-size: toRem(14);
			padding: toRem(0) toRem(12);
		}
		@media (max-width: $mobileSmall) {
			height: toRem(28);
			font-size: toRem(10);
		}
	}
	// .tabs-service__content
	&__content {
	}
	// .tabs-service__body
	&__body {
	}
}
.body-tabs-service {
	// .body-tabs-service__articles
	&__articles {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	// .body-tabs-service__title
	&__title {
		font-weight: 700;
		text-align: center;
		font-size: toRem(19);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (min-width: $mobile) {
			display: none;
		}
	}
	// .body-tabs-service__columns
	&__columns {
		display: flex;
		column-gap: toRem(25);
		justify-content: space-between;
		@media (max-width: $mobile) {
			row-gap: toRem(10);
			flex-direction: column;
		}
	}
	// .body-tabs-service__spollers
	&__spollers {
	}
}
// Tabs About
.tabs-about {
	// .tabs-about__content
	&__content {
	}
	// .tabs-about__body
	&__body {
		font-weight: 700;
		line-height: 135%;
		@include adaptiveValue("font-size", 18, 14);
		@include adaptiveValue("margin-bottom", 50, 35, 2, $containerWidth, 479.98);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
	}
	// .tabs-about__navigation
	&__navigation {
		display: flex;
		gap: toRem(5);
		padding:toRem(5);
		overflow: hidden;
		background-color: #fff;
		@include adaptiveValue("border-radius", 30, 12);
		@media (max-width: toEm(1034)) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .tabs-about__title
	&__title {
		width: 100%;
		color: #000;
		white-space: nowrap;
		min-height: toRem(50);
		padding: toRem(0) toRem(20);
		transition:
			background-color 0.4s,
			color 0.4s;
		@include adaptiveValue("font-size", 16, 14);
		@include adaptiveValue("border-radius", 30, 12);
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(#efefef, 0.3);
			}
		}
		&._tab-active {
			color: $mainColor;
			background-color: #efefef;
			box-shadow:
			rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
			rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
			rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
			rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
			rgba(14, 63, 126, 0.04) 0px 12px 12px -6px;
		}
	}
}
