@font-face {
	font-family: Gothampro;
	font-display: swap;
	src: url("../fonts/Gothampro-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Gothampro;
	font-display: swap;
	src: url("../fonts/Gothampro.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gothampro;
	font-display: swap;
	src: url("../fonts/Gothampro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
