//========================================================================================================================================================
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&::before {
		@extend %ic;
	}
}
//========================================================================================================================================================
// Fonts Of Icons
._icon-archive:before {
	content: "\e900";
}
._icon-arrow-circle-full:before {
	content: "\e901";
}
._icon-arrow-circle:before {
	content: "\e902";
}
._icon-arrow-line:before {
	content: "\e903";
}
._icon-arrow-min:before {
	content: "\e904";
}
._icon-arrow:before {
	content: "\e905";
}
._icon-camera:before {
	content: "\e906";
}
._icon-chats:before {
	content: "\e907";
}
._icon-docx:before {
	content: "\e908";
}
._icon-eye:before {
	content: "\e909";
}
._icon-file:before {
	content: "\e90a";
}
._icon-location:before {
	content: "\e90b";
}
._icon-paper:before {
	content: "\e90c";
}
._icon-play-vector:before {
	content: "\e90d";
}
._icon-play:before {
	content: "\e90e";
}
._icon-s-tg:before {
	content: "\e90f";
}
._icon-s-vk:before {
	content: "\e910";
}
._icon-s-wh:before {
	content: "\e911";
}
._icon-search:before {
	content: "\e912";
}
._icon-star:before {
	content: "\e913";
}
._icon-user-update:before {
	content: "\e914";
}
//========================================================================================================================================================
