@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Helvetica";
$fontFamilyGothampro: "Gothampro";
$fontSize: toRem(18); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #4b5472; // Колір шрифту за замовчуванням
$greenColor: #42ae8d; // Колір шрифту за замовчуванням
$orangeColor: #ed9231; // Колір шрифту за замовчуванням

$gradientOrange: linear-gradient(90deg, #f7d58b 0%, #ed912d 100%); // Колір шрифту за замовчуванням
$gradientGreen: linear-gradient(90deg, #1dd99f 0%, #57b39b 100%); // Колір шрифту за замовчуванням

$bgColor: #f2f3f5; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1150;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	background-color: $bgColor;
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}
// ========================================================================================================================================================
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів загальних елементів проекту
@import "common";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів окремих блоків
@import "header";
@import "footer";
// ========================================================================================================================================================
// Hero
.hero {
	margin-top: toRem(15);
	background-color: #fff;
	padding: toRem(30) toRem(0);
	// .hero__container
	&__container {
		display: grid;
		@include adaptiveValue("gap", 25, 10);
		@media (min-width: $mobile) {
			grid-template-columns: 73.913043% 1fr;
		}
	}
	// .hero__content
	&__content {
		display: grid;
		@include adaptiveValue("gap", 25, 10);
	}
	// .hero__aside-mobile
	&__aside-mobile {
		@media (min-width: $mobile) {
			display: none;
		}
	}
	// .hero__baner
	&__baner {
	}
	// .hero__baners
	&__baners {
		display: grid;
		@include adaptiveValue("gap", 25, 10);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .hero__aside
	&__aside {
		display: grid;
		@include adaptiveValue("gap", 25, 10);
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.slider-baner {
	overflow: hidden;
	position: relative;
	background-color: $bgColor;
	@include adaptiveValue("border-radius", 30, 12);
	// .slider-baner__wrapper
	&__wrapper {
	}
	// .slider-baner__slide
	&__slide {
	}
	// .slider-baner__dotts
	&__dotts {
		left: 0;
		bottom: 0;
		position: absolute;
		@include adaptiveValue("left", 50, 25, 2, $containerWidth, 767.98);
		@include adaptiveValue("bottom", 30, 20, 2, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			@include adaptiveValue("left", 25, 10, 0, 767.98, 320);
			@include adaptiveValue("bottom", 20, 10, 0, 767.98, 320);
		}
	}
}
.slide-slider-baner {
	position: relative;
	// .slide-slider-baner__image
	&__image {
		height: 100%;
	}
	// .slide-slider-baner__body
	&__body {
		top: 0;
		left: 0;
		position: absolute;
		@include adaptiveValue("top", 40, 20, 2, $containerWidth, 767.98);
		@include adaptiveValue("left", 35, 20, 2, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			@include adaptiveValue("top", 20, 10, 0, 767.98, 320);
			@include adaptiveValue("left", 20, 8, 0, 767.98, 320);
		}
	}
	// .slide-slider-baner__title
	&__title {
		color: #fff;
		font-weight: 900;
		font-family: $fontFamilyGothampro;
		@include adaptiveValue("font-size", 62, 42, 2, $containerWidth, 767.98);
		span {
			display: flex;
			font-weight: 400;
			margin-top: toRem(3);
			padding-left: toRem(4);
			font-family: $fontFamily;
			@include adaptiveValue("font-size", 19, 12.5, 2, $containerWidth, 767.98);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25, 2, $containerWidth, 767.98);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 52, 22, 0, 767.98, 320);
			span {
				@include adaptiveValue("font-size", 15.5, 7, 0, 767.98, 320);
			}
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 25, 15, 0, 767.98, 320);
			}
		}
	}
	// .slide-slider-baner__button
	&__button {
		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("padding-right", 40, 15);
		&.button {
			@include adaptiveValue("min-height", 45, 30);
			@include adaptiveValue("font-size", 16, 12);
		}
	}
}
.baner-hero {
	overflow: hidden;
	position: relative;
	@include adaptiveValue("border-radius", 30, 12);
	@media (any-hover: hover) {
		&:hover {
			.baner-hero__image {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .baner-hero__image
	&__image {
		height: 100%;
	}
	// .baner-hero__title
	&__title {
		color: #fff;
		display: flex;
		gap: toRem(10);
		font-weight: 700;
		position: absolute;
		align-items: center;
		font-family: $fontFamilyGothampro;
		@include adaptiveValue("right", 30, 15);
		@include adaptiveValue("bottom", 20, 10);
		@include adaptiveValue("font-size", 29, 20, 2, $containerWidth, 767.98);
		@media (max-width: $tablet) {
			img {
				width: toRem(45);
			}
		}
		@media (max-width: $mobileSmall) {
			img {
				width: toRem(30);
			}
		}
	}
}
// ========================================================================================================================================================
// Service
.service {
	@include adaptiveValue("padding-top", 65, 35);
	// .service__container
	&__container {
	}
	// .service__tabs
	&__tabs {
	}
	// .service__body
	&__body {
	}
}
.articles-service {
	display: grid;
	gap: toRem(15);
	grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
	// .articles-service__item
	&__item {
		overflow: hidden;
		position: relative;
		min-height: toRem(235);
		@include adaptiveValue("border-radius", 35, 15);
		&--01 {
			background: linear-gradient(0deg, #b9dfdb 0%, #b1e1dd 100%);
			.articles-service__arrow {
				color: #b9dfdb;
			}
		}
		&--02 {
			background: linear-gradient(0deg, #a3c977 0%, #c3ee92 100%);
			.articles-service__arrow {
				color: #a3c977;
			}
		}
		&--03 {
			background: linear-gradient(0deg, #f17397 0%, #f7afc4 99%, #f7afc4 100%);
			.articles-service__arrow {
				color: #f17397;
			}
		}
		&--04 {
			background: linear-gradient(0deg, #d1add3 0%, #fcd9ff 99%, #fcd9ff 100%);
			.articles-service__arrow {
				color: #d1add3;
			}
		}
		@media (max-width: $mobile) {
			min-height: toRem(195);
		}
		@media (max-width: $mobileSmall) {
			min-height: toRem(175);
		}
	}
	// .articles-service__body
	&__body {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		@include adaptiveValue("padding-left", 25, 17);
		@include adaptiveValue("padding-right", 25, 17);
	}
	// .articles-service__title
	&__title {
		color: #fff;
		font-weight: 700;
		line-height: 120%;
		@include adaptiveValue("font-size", 24, 20);
	}
	// .articles-service__arrow
	&__arrow {
		display: flex;
		width: toRem(42);
		height: toRem(42);
		border-radius: 50%;
		align-items: center;
		padding-left: toRem(3);
		background-color: #fff;
		justify-content: center;
	}
	// .articles-service__icon
	&__icon {
		right: 17px;
		bottom: 17px;
		position: absolute;
		max-width: toRem(90);
		img {
			width: 100%;
		}
	}
}
// ========================================================================================================================================================
// Review
.review {
	background-color: #fff;
	padding-top: toRem(40);
	@include adaptiveValue("margin-top", 40, 30);
	@include adaptiveValue("padding-bottom", 70, 40);
	// .review__container
	&__container {
	}
	// .review__heading
	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .review__body
	&__body {
	}
	// .review__gallery
	&__gallery {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	// .review__direct
	&__direct {
	}
}
// Gallery
.gallery-review {
	// .gallery-review__inner
	&__inner {
		position: relative;
		@media (max-width: toEm(1269.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}
	// .gallery-review__slider
	&__slider {
		padding-left: toRem(15);
		padding-right: toRem(15);
		margin: toRem(0) toRem(-15);
		@include adaptiveValue("padding-bottom", 35, 25);
	}
	// .gallery-review__wrapper
	&__wrapper {
	}
	// .gallery-review__slide
	&__slide {
	}
	// .gallery-review__controls
	&__controls {
	}
	// .gallery-review__button
	&__button {
		display: flex;
		justify-content: center;
		.button {
			@include adaptiveValue("padding-left", 45, 20);
			@include adaptiveValue("padding-right", 45, 20);
		}
		@media (max-width: $tablet) {
			align-items: center;
			justify-content: space-between;
		}
		@media (max-width: $mobileSmall) {
			row-gap: toRem(15);
			flex-direction: column-reverse;
		}
	}
}
.slide-gallery-review {
	display: grid;
	overflow: hidden;
	row-gap: toRem(50);
	grid-template-rows: 1fr auto;
	@include adaptiveValue("padding-top", 35, 15);
	@include adaptiveValue("padding-left", 25, 10);
	@include adaptiveValue("padding-right", 35, 10);
	@include adaptiveValue("padding-bottom", 15, 8);
	@include adaptiveValue("border-radius", 35, 12);
	&:nth-child(1n) {
		background: radial-gradient(circle at center, #f2fefa 0%, #d1f3e8 99%, #d1f3e8 100%);
	}
	&:nth-child(2n) {
		background: radial-gradient(circle at center, #fffaf0 0%, #fdf1d8 99%, #fdf1d8 100%);
	}
	&:nth-child(3n) {
		background: radial-gradient(circle at center, #f2fafb 0%, #d1e4f2 99%, #d1e4f2 100%);
	}
	// .slide-gallery-review__text
	&__text {
		color: #000;
		@include adaptiveValue("font-size", 17, 14);
	}
	// .slide-gallery-review__bottom
	&__bottom {
		color: #000;
	}
	// .slide-gallery-review__author
	&__author {
		line-height: 125%;
		@include adaptiveValue("font-size", 17, 14);
		span {
			display: flex;
		}
	}
	// .slide-gallery-review__more
	&__more {
		gap: toRem(10);
		align-items: center;
		display: inline-flex;
		transition:
			gap 0.4s,
			color 0.4s;
		flex-direction: row-reverse;
		@include adaptiveValue("font-size", 17, 14);
		&::before {
			@include adaptiveValue("font-size", 40, 30);
		}
		@media (any-hover: hover) {
			&:hover {
				gap: toRem(17);
				color: $greenColor;
				span {
					text-decoration: underline;
				}
			}
		}
	}
}
.controls-gallery-review {
	@media (min-width: toEm(1269.98)) {
		top: 50%;
		width: 100%;
		position: absolute;
		justify-content: space-between;
		transform: translate(0px, -50%);
	}
	@media (max-width: toEm(1269.98)) {
		gap: toRem(12);
		justify-content: center;
	}
	// .controls-gallery-review__arrow
	&__arrow {
		color: #d4e6f4;
		@media (min-width: toEm(1269.98)) {
			&.swiper-button-disabled {
				opacity: 0;
			}
		}
		@media (max-width: toEm(1269.98)) {
			color: $mainColor;
		}
		// .controls-gallery-review__arrow--prev
		&--prev {
			@media (min-width: toEm(1269.98)) {
				margin-left: toRem(-20);
				transform: translate(-100%, 0px);
			}
		}
		// .controls-gallery-review__arrow--next
		&--next {
			@media (min-width: toEm(1269.98)) {
				margin-right: toRem(-20);
				transform: translate(100%, 0px);
			}
		}
	}
}
// Direct
.direct-review {
	display: grid;
	overflow: hidden;
	align-items: center;
	background-color: $bgColor;
	justify-content: space-between;
	grid-template-columns: 28.695652% 1fr;
	@include adaptiveValue("border-radius", 35, 12);
	@include adaptiveValue("column-gap", 35, 20, 2, $containerWidth, 589.98);
	@include adaptiveValue("padding-right", 45, 20, 2, $containerWidth, 589.98);
	@media (max-width: $tablet) {
		grid-template-columns: 38.695652% 1fr;
	}
	@media (max-width: toEm(589.98)) {
		padding: toRem(22) toRem(15) toRem(15) toRem(15);
		grid-template-columns: auto;
	}
	// .direct-review__gallery
	&__gallery {
		height: 100%;
		display: grid;
		@media (min-width: toEm(589.98)) {
			.direct-review-mb-controls {
				display: none;
			}
		}
		@media (max-width: toEm(589.98)) {
			align-items: start;
			row-gap: toRem(15);
			&:not(:last-child) {
				margin-bottom: toRem(12);
			}
		}
	}
	// .direct-review__slider
	&__slider {
		height: 100%;
		@include adaptiveValue("border-radius", 35, 12);
		@media (max-width: toEm(589.98)) {
			box-shadow:
				rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
				rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
				rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
				rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
				rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
				rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
		}
	}
	// .direct-review__wrapper
	&__wrapper {
	}
	// .direct-review__slide
	&__slide {
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .direct-review__content
	&__content {
		display: grid;
		row-gap: toRem(20);
		padding-top: toRem(20);
		padding-bottom: toRem(20);
		@media (max-width: toEm(589.98)) {
			padding: toRem(0);
		}
	}
	// .direct-review__blog
	&__blog {
	}
	// .direct-review__text
	&__text {
		color: #000;
		@include adaptiveValue("font-size", 18, 14);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .direct-review__author
	&__author {
		color: #000;
		line-height: 125%;
		@include adaptiveValue("font-size", 18, 14);
		span {
			font-weight: 700;
		}
	}
	// .direct-review__action
	&__action {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .direct-review__controls
	&__controls {
	}
	// .direct-review__button
	&__button {
		@include adaptiveValue("padding-left", 40, 20);
		@include adaptiveValue("padding-right", 40, 20);
		@media (max-width: toEm(589.98)) {
			width: 100%;
		}
	}
}
.controls-direct-review {
	gap: toRem(15);
	@media (max-width: toEm(589.98)) {
		justify-content: center;
	}
	// .controls-direct-review__arrow
	&__arrow {
		color: $orangeColor;
		// .controls-direct-review__arrow--prev
		&--prev {
		}
		// .controls-direct-review__arrow--next
		&--next {
		}
	}
}
// ========================================================================================================================================================
// Branch
.branch {
	@include adaptiveValue("padding-top", 50, 30);
	// .branch__container
	&__container {
	}
	// .branch__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 20);
		}
	}
	// .branch__body
	&__body {
		display: grid;
		overflow: hidden;
		background-color: #fff;
		@include adaptiveValue("border-radius", 25, 12);
		@media (min-width: toEm(589.98)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .branch__aside
	&__aside {
		@media (max-width: toEm(589.98)) {
			order: 2;
		}
	}
	// .branch__iframe
	&__iframe {
		width: 100%;
		height: 100%;
		@media (max-width: toEm(589.98)) {
			order: 1;
			@include adaptiveValue("min-height", 350, 250, 0, 589.98, 320);
		}
	}
}
.aside-branch {
	overflow-y: auto;
	max-height: toRem(509);
	&::-webkit-scrollbar {
		width: toRem(4);
		background-color: #d4e6f4;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $greenColor;
	}
	// .aside-branch__list
	&__list {
	}
	// .aside-branch__item
	&__item {
		width: 100%;
		display: flex;
		text-align: left;
		row-gap: toRem(3);
		line-height: 125%;
		flex-direction: column;
		transition: background-color 0.3s;
		@include adaptiveValue("font-size", 17, 14);
		@include adaptiveValue("padding-top", 25, 15);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
		@include adaptiveValue("padding-bottom", 25, 15);
		&:not(:first-child) {
			padding-top: toRem(15);
		}
		&:not(:last-child) {
			padding-bottom: toRem(15);
			border-bottom: 1px solid #d4e6f4;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(#d4e6f4, 0.5);
			}
		}
	}
	// .aside-branch__item-st
	&__item-st {
		color: $greenColor;
	}
	// .aside-branch__item-tm
	&__item-tm {
	}
	// .aside-branch__item-ph
	&__item-ph {
		font-weight: 700;
	}
	// .aside-branch__item-tr
	&__item-tr {
		opacity: 0.85;
	}
}
// ========================================================================================================================================================
// About
.about {
	color: #fff;
	background: linear-gradient(0deg, #57b59b 0%, #1bdb9f 100%);
	@include adaptiveValue("margin-top", 50, 30);
	@include adaptiveValue("padding-top", 40, 25);
	@include adaptiveValue("padding-bottom", 100, 45);
	// .about__container
	&__container {
	}
	// .about__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	// .about__tabs
	&__tabs {
	}
}
// ========================================================================================================================================================
